
.grid {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 2fr 0.5fr 2fr;
	grid-template-areas:
	  "chatbox wrap history"
	  ". wrap ."
	  ". fen .";
  }
  

.wrap{
	grid-area: wrap;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.chatbox-container{
	grid-area: chatbox;
	width: 352px;
	height: 377px;
	margin: 0 auto;
	position: relative;
	margin: 20px 20px;
	padding: 10px 30px;
	border-radius: 25px;
	border: 1px solid #000000;
	background-color: rgba(0,0,0,0.5);
}

.chatbox-input{
	font-size: 16px;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 40px;
}

.chatbox-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.answer{
	width: 100%;
	height: 50%;
	margin: 20px 0;
	overflow-y: scroll;
}


.chessboard{
	width: 420px;
	height: 420px;
	margin: 0 auto;
	
}






  .history {
	grid-area: history;
	color: #F5F5F5;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000000;
	margin-top: 20px;
	width: 300px;
	height: 300px;
    background-color: rgba(0,0,0,0.5);
    margin-left: 75px;
        overflow-y: scroll;
    text-align: center;
	font-weight: bold;
	text-decoration: solid 1px #000000;
  
  }

.titre{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.coups{
    display : flex;
	font-weight: unset;
}

.coupB, .coupW{
    width: 50%;
    height: fit-content;
    margin: 0;
    padding: 0;
	color:#F5F5F5;
	
}

.coupsB{
    float:right
}
.coupsW{
    float: left;
}
  

.titreF{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

  .fen {
	height: 20%;
	grid-area: fen;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
  }

.row{
	display: flex;
	flex-wrap: wrap;
}

.square{
	width: 50px;
	height: 50px;
	background-color: #000;
}

.light{
	background-color: #f0d9b5;
}

.dark{
	background-color: #b58863;
}

.piece{
	width: 50px;
	height: 50px;
}

.ligne{
	width: 20px;
	height: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.colonne{
	width: 50px;
	height: 20px;
	text-align: center;
}

.dark.possibleMove{
	background: radial-gradient(circle at center, #25a6ce, #b58863 75%);
}

.light.possibleMove{
	background: radial-gradient(circle at center, #25a6ce, #f0d9b5 75%);
}

.dark.checked{
	background: radial-gradient(circle at center, rgb(255, 67, 67), #b58863 75%);
}

.light.checked{
	background: radial-gradient(circle at center, rgb(255, 67, 67), #f0d9b5 75%);
}

.light.selected{
	background: radial-gradient(circle at center, #25ce90, #f0d9b5 75%);
}

.dark.selected{
	background: radial-gradient(circle at center, #25ce90, #b58863 75%);
}

